
.DS_Store
.DS_Store
snake game/snake game.xcodeproj/project.pbxproj
snake game/snake game.xcodeproj/project.xcworkspace/contents.xcworkspacedata
snake game/snake game.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
snake game/snake game.xcodeproj/project.xcworkspace/xcuserdata/joshuaacosta.xcuserdatad/UserInterfaceState.xcuserstate
snake game/snake game.xcodeproj/xcshareddata/xcschemes/snake game.xcscheme
snake game/snake game.xcodeproj/xcuserdata/joshuaacosta.xcuserdatad/xcschemes/xcschememanagement.plist
